// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

//Here comes the Less
//Mixins
.flex {
	display: flex;
	flex-flow: row nowrap;
}
.bordered {
	border: 1px solid black;
}

.text-style {
	font-family: "Open Sans", sans-serif;
	color: black;
	line-height: 1.4rem;
	font-size: 1rem;
}
.spacing {
	margin-top: 20px;
	margin-bottom: 20px;
}

.container {
	width: 800px;
	margin: 0 auto;
	.text-style();
	.bordered();
	padding: 10px;

	header {
		margin-top: 10px;
		border-bottom: 1px solid lightgrey;
	}
	nav {
		.flex();
		justify-content: flex-end;
		
		a {
			margin-right: 20px;
			text-decoration: none;
			color: darkgrey;
		}
		a:hover {
			color: black;
		}
	}

	h1 {
		.spacing();
		font-size: 2rem;
		text-align: center;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 200;
		font-family: "Oxygen", "Open Sans", sans-serif;
	}
	strong {
		font-weight: 500;
	}
	li {
		list-style-type: disc;
		margin-left: 15px;
	}
	form {
		width: 430px;
		margin: 0 auto;
		.flex();
		flex-direction: column;

		.contact-form {
			.flex();
			justify-content: space-between;
			input, label {
				margin-bottom: 8px;
			}
			input {
				width: 75%
			}
		}
		.submit {
			.spacing();
			margin: 0 auto;
		}
	}
	.resume-header h2 {
		border-bottom: 1px solid lightgrey;
		margin-bottom: 10px;

	}

	.intro {
		.flex();
		div, img {
			width: 50%;
			padding: 10px;
			text-align: center;
			margin-bottom: 30px;
		}
	}
	section {
		margin-bottom: 30px;
		font-size:.9rem;
	}


	.work-history-head {
		font-weight: bold;
		.flex();
		justify-content: space-between;
	}
}